.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.logo img {
  height: 25px;
}

.nav {
  display: flex;
  list-style: none;
  margin-left: 400px;
  padding: 0;
  gap: 20px;
}

.nav li a {
  font-family: "Roag Light", sans-serif;
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

.order {
  text-decoration: none;
  color: #ff0000;
  font-size: 13px;
  font-weight: bold;
  margin-right: 400px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .logo {
    margin-bottom: 10px;
    width: auto;
  }

  .nav {
    flex-direction: row;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .nav li a {
    font-size: 20px;
  }

  .order {
    margin-top: -25px;
    margin-right: 20px;
    align-self: flex-end;
    font-size: 20px;
  }
}
